<% provide :title, "アカウント削除" %>
<div class="container">
  <div class="row">
    <%= render 'users/registrations/edit_links' %>
    <div class="col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2">
      <div class="users-form">
        <h3>アカウントを削除する</h3>
        <br>
        <h5>本当に良いですか？</h5>
        <br>
        <% if current_user.id == 2 %>
          <button class="form-btn btn-danger" disabled>アカウント削除</button>
          <br><br>
          <p>テストユーザーは削除できません</p>
        <% else %>
          <%= button_to "アカウント削除", registration_path(current_user), class: 'form-btn btn-danger',
                        data: { confirm: "削除しても良いですか？" }, method: :delete %>
        <% end %>

      </div>
    </div>
  </div>
</div>
