<%= provide :title, "#{@user.username}さんの行きつけ" %>
<% provide :images_count, "2" %>
<% provide :images_class, "col-sm-6 col-xs-12" %>
<div class="container">
  <div class="index">
    <h2><strong><%= link_to @user.username, @user %>さんの行きつけ</strong></h2>
    <hr>
    <div class="row">
      <%= render @parlors %>
    </div>
  </div>
</div>
