<% provide :title, "#{@user.username}さんのフォロワー" %>
<div class="container">
  <div class="index">
    <h3><strong><%= link_to @user.username, @user %>さんのフォロワー</strong></h3>
    <hr>
    <div class="row">
      <%= render @followers %>
    </div>
  </div>
</div>
