<% if user_signed_in? %>
  <div id="favorite_form_<%= parlor.id %>">
    <% if parlor.favored_user?(current_user) %>
      <%= render 'parlors/remove_from_favorite', parlor: parlor %>
    <% else %>
      <%= render 'parlors/add_to_favorite', parlor: parlor %>
    <% end %>
  </div>
<% end %>

