<div class="search-form">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-9">
      <input type="text" id="address" class="form-control" placeholder="名前　場所">
    </div>
    <div class="col-sm-2 col-xs-3">
      <button id="address-submit" class="btn btn-success">検索</button>
    </div>
  </div>
</div>
