<script type="text/javascript">
    document.addEventListener('turbolinks:load', function () {
        checkMapsTurbolinks();
    });

    function initMap() {
        isMapsApiLoaded = true;

        let parlorsData = <%= raw parlors.to_json %>;

        let map = new google.maps.Map(document.getElementById('parlors-index-map'), {
            center: {lat: parseFloat(parlorsData[0]['latitude']),
                     lng: parseFloat(parlorsData[0]['longitude'])},
            zoom: 15,
            gestureHandling: 'cooperative'
        });

        for (let i = 0; i < parlorsData.length; i++) {
            let item = parlorsData[i];

            let marker = new google.maps.Marker({
                position: {lat: parseFloat(item['latitude']), lng: parseFloat(item['longitude'])},
                map: map
            });

            let contentString = "<div class='map-window'>" +
                `<h4><strong><a href=/parlors/${item['id']}>` + item['name'] + "</a></strong></h4>" +
                "<p>" + item['address'] + "</p>" +
                "</div>";

            let infoWindow = new google.maps.InfoWindow({
                content: contentString
            });

            openInfoWindow(parlorsData, map, marker, infoWindow, i)
        }
    }
</script>
