<div class="search-form">
  <h2><strong>雀荘登録</strong></h2>
  <br><br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-9">
      <input type="text" id="address" class="form-control" placeholder="名前　場所">
    </div>
    <div class="col-sm-2 col-xs-3">
      <button id="address-submit" class="btn btn-success">検索</button>
    </div>
    <br><br><br>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <ol>
        <li>登録したい店舗名を入力してください。(住所や「〜店」などの情報があれば、より正確に調べられます。)</li>
        <li>地図に表示されたマーカーの位置で問題なければ、下の登録フォームから雀荘を新規登録してください。</li>
      </ol>
      <br>
      <h4><strong>検索例</strong></h4>
      <h5>&ensp;未登録のお店であれば登録可能です</h5>
      <ul>
        <li>『麻雀 カボ 渋谷店』</li>
        <li>『麻雀チャイナ 渋谷店』</li>
        <li>『麻雀かめきたざわ 渋谷店』</li>
        <li>『まぁじゃんMAP秋葉原店』</li>
        <li>『マーチャオカプリコン 秋葉原禁煙店』</li>
        <li>『雀友倶楽部』</li>
        <li>『マーチャオι 東京秋葉原店』</li>
        <li>『マーチャオカプリコン 秋葉原禁煙店』</li>
        <li>『まあじゃん ぱらだいす』</li>
        <li>『あきば雀荘 てんぱね』</li>
        <li>『麻雀ウエルカム アキバ店』</li>
        <li>『健康麻雀 ひよこ堂』</li>
        <li>『麻雀ZOO 新宿西口店』</li>
        <li>『麻雀ZOO 新宿店』</li>
        <li>『麻雀ZOO 新宿西口大ガード店』</li>
        <li>『麻雀たぬ新宿店』</li>
      </ul>
    </div>
  </div>
</div>
