<% provide :images_count, "2" %>
<% provide :images_class, "col-sm-6 col-xs-12" %>
<div id="parlors-index-map"></div>
<div class="container">
  <h5>地図のマーカーをクリックするとお店の情報を確認できます</h5>
  <br><br>
  <%= page_entries_info @page_parlors %>
  <div class="row">
    <%= render @page_parlors %>
  </div>
  <%= paginate @page_parlors %>
</div>
<%= render 'index_map_script', parlors: @parlors %>
