<div class="container">
  <%= render 'parlors/search_new_form' %>
  <div id="map"></div>
  <%= render 'parlors/registration_form' %>
</div>
<%= render 'parlors/new_map_script' %>
<%= render 'shared/google_maps_url' %>
