<% provide :title, "雀荘登録" %>
<div class="container">
  <%= render 'parlors/search_new_form' %>
  <div id="parlors-new-map"></div>
  <%= render 'parlors/registration_form' %>
</div>
<%= render 'parlors/new_map_script' %>
