// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

// INDEX
// 0. Fundamental CSS
// 1. Header
// 1.1. Header Logo
// 1.2. Header Menu
// 2. Footer
// 2.1. Footer Logo
// 3. Map
// 4. Form
// 4.0. Error Message
// 4.1. Parlor Form
// 4.1.1. Search Form
// 4.1.2. Registration Form

// 0. Fundamental CSS
$xs-width: 768px;
$sm-width: 992px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.content-wrapper {
  margin-top: 60px;
}

// 1. Header
.navbar-default {
  height: 60px;
  background-color: darkcyan;
  border: none;
  .navbar-collapse {
    padding: 0 15px;
  }
}

.container-fluid, .navbar-header {
  height: 100%;
}


button.navbar-toggle {
  margin: 13px 15px;
}

@media (max-width: $xs-width) {
  .navbar-default .navbar-collapse {
    background-color: #00478b;
  }
}

// 1.1. Header Logo
#header-logo {
  font-family: 'Luckiest Guy', cursive;
  color: greenyellow;
  font-size: 35px;
  line-height: 65px;
  margin-left: 30px;
  text-decoration: none;
}

@media (max-width: $xs-width) {
  #header-logo {
    font-size: 28px;
    margin-left: 10px;
  }
}

// 1.2. Header Menu
.navbar-default .navbar-nav li a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 15px;
  transition: background-color 0.2s;
  &:hover {
    background-color: #DADADA;
  }
}

@media (max-width: $xs-width) {
  .navbar-default .navbar-nav li a {
    padding: 5px 50px;
  }
}

// 2. Footer
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  .footer-wrapper {
    padding: 10px;
    border-top: solid 1px #BBBBBB;
  }
}

// 2.1. Footer Logo
#footer-logo {
  font-family: 'Luckiest Guy', cursive;
  color: greenyellow;
  background-color: darkcyan;
  font-size: 20px;
  padding: 5px 5px 0;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: $xs-width) {
  .footer-wrapper {
    text-align: center;
  }
}

// 3. Map
.map {
  width: 100%;
  height: 450px;
}

@media (max-width: $xs-width) {
  .map {
    height: 250px;
  }
}

#parlors-index-map, #parlors-new-map {
  @extend .map
}

// 4. Form
.form-control {
  font-size: 20px;
}

// 4.0. Error Message
.error-message {
  padding: 10px;
  border: solid 5px #ff4f4c;
  border-radius: 5px;
  margin-bottom: 20px;
  h4 {
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #ff4f4c;
    border-color: #ff4f4c;
  }
}

// 4.1. Parlor Form
// 4.1.1. Search Form
.search-form {
  margin: 40px auto;
  .btn {
    font-weight: bold;
  }
}

@media (min-width: $sm-width) {
  .search-form .btn {
    width: 50%;
  }
}

// 4.1.2. Registration Form
.registration-form {
  margin-top: 30px;
  .btn {
    width: 100%;
    font-size: 18px;
    letter-spacing: 7px;
    font-weight: bold;
  }
}

#parlor_address, #parlor_latitude, #parlor_longitude {
  font-size: 12px;
  background-color: #999999;
}
