// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

// INDEX
// 0. Fundamental CSS
// 1. Header
// 1.1. Header Logo
// 1.2. Header Menu
// 2. Footer
// 2.1. Footer Logo
// 2.2. Footer Menu
// 3. Map
// 4. Form
// 4.0. Error Message
// 4.1. Parlors Form
// 4.1.1. Search Form
// 4.1.2. Registration Form
// 4.2. Users Form
// 4.2.1. Users Edit Form
// 4.3. Reviews Form
// 4.4. Comments Form
// 5. Flash
// 6. Index/Show
// 6.1. Reviews
// 6.2. Comments
// 6.3. Users
// 6.4. Parlors
// 7. Modal
// 7.1. Review Modal

// 0. Fundamental CSS
$xs-width: 768px;
$sm-width: 992px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.content-wrapper {
  margin-top: 60px;
}

@media (max-width: $xs-width) {
  h2 {
    text-align: center;
  }
}

// 1. Header
.navbar-default {
  height: 60px;
  background-color: darkcyan;
  border: none;

  .navbar-collapse {
    padding: 0 15px;
  }
}

.container-fluid, .navbar-header {
  height: 100%;
}


button.navbar-toggle {
  margin: 13px 15px;
}

@media (max-width: $xs-width) {
  .navbar-default .navbar-collapse {
    background-color: darkcyan;
  }
}

// 1.1. Header Logo
#header-logo {
  font-family: 'Luckiest Guy', cursive;
  color: greenyellow;
  font-size: 35px;
  line-height: 65px;
  margin-left: 30px;
  text-decoration: none;
}

@media (max-width: $xs-width) {
  #header-logo {
    font-size: 28px;
    margin-left: 10px;
  }
}

// 1.2. Header Menu
.navbar-default .navbar-nav {
  li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 15px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #DADADA;
    }
  }

  .dropdown-menu li a {
    color: #666666;
    padding: 5px 45px;
    transition: background-color 0.2s;

    &:hover {
      color: black;
    }
  }
}


@media (max-width: $xs-width) {
  .navbar-default .navbar-nav li a {
    padding: 5px 50px;
  }
}

// 2. Footer
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;

  .footer-wrapper {
    padding: 10px;
    border-top: solid 1px #BBBBBB;
  }
}

// 2.1. Footer Logo
#footer-logo {
  font-family: 'Luckiest Guy', cursive;
  color: greenyellow;
  background-color: darkcyan;
  font-size: 20px;
  padding: 5px 5px 0;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: $xs-width) {
  .footer-wrapper {
    text-align: center;
  }
}

// 2.2. Footer Menu
.footer-menu ul {
  list-style: none;
  padding: 0;

  a {
    color: #666666;
  }
}

// 3. Map
.map {
  width: 100%;
  height: 450px;
}

@media (max-width: $xs-width) {
  .map {
    height: 250px;
  }
}

#parlors-index-map, #parlors-new-map {
  @extend .map;
}

// 4. Form
.large-font-form {
  font-size: 20px;
}

.form-btn {
  @extend .btn;
  width: 100%;
  letter-spacing: 7px;
  font-weight: bold;
  margin: 10px 0;
}

// 4.0. Error Message
.error-message {
  padding: 10px;
  border: solid 5px #ff4f4c;
  border-radius: 5px;
  margin-bottom: 20px;

  h4 {
    color: red;
    padding: 0 10px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: #ff4f4c;
    border-color: #ff4f4c;
  }
}

// 4.1. Parlors Form
// 4.1.1. Search Form
.search-form {
  margin: 40px auto;

  .form-control {
    @extend .large-font-form;
  }

  .btn {
    font-weight: bold;
  }
}

@media (min-width: $sm-width) {
  .search-form .btn {
    width: 50%;
  }
}

// 4.1.2. Registration Form
.registration-form {
  margin-top: 30px;

  .readonly {
    font-size: 12px;
  }

  .form-btn {
    font-size: 18px;
  }
}

#parlor_name {
  @extend .large-font-form
}

// 4.2. Users Form
.users-form {
  h2 {
    text-align: center;
  }

  .form-btn {
    font-size: 16px;
  }
}

#account-links {
  margin-top: 20px;
}

// 4.2.1. Users Edit Form
.nav-stacked {
  padding-top: 50px;
}

// 4.3. Reviews Form
.review-form {
  h2 {
    text-align: center;
    font-weight: bold;
  }

  h3 {
    text-align: center;
  }

  label {
    display: block;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
  }

  input.form-control {
    font-size: 20px;
    font-weight: bold;
  }

  textarea.form-control {
    height: 200px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .form-btn {
    font-size: 18px;
  }
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  height: 40px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i, .star-rating input:checked + i {
  opacity: 1;
}

.star-rating i ~ i {
  width: 40%;
}

.star-rating i ~ i ~ i {
  width: 60%;
}

.star-rating i ~ i ~ i ~ i {
  width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

// 4.4. Comments Form
.comment-form textarea.form-control {
  height: 100px;
}

// 5. Flash
.alert {
  margin-top: 20px;
}

// 6. Index/Show
// 6.1. Reviews
.review-index {
  height: 290px;
  margin: 15px 0;

  .thumbnail {
    height: 100%;
    background-color: aliceblue;
    padding: 4px 10px;
  }

  a {
    text-decoration: none;
  }
}

.review-star {
  color: gold;
}

.review-unstar {
  color: gray;
}

// 6.2. Comments
.delete-comment {
  text-align: right;
}

// 6.3. Users
#user_content_form {
  p {
    font-size: 18px;

    em {
      font-size: 16px;
    }
  }
}

.user-status {
  p {
    font-size: 16px;
  }
}

@media (max-width: $xs-width) {
  #user_content_form {
    p {
      font-size: 15px;

      em {
        font-size: 14px;
      }
    }
  }

  .user-status {
    p {
      font-size: 14px;
    }
  }
}

// 6.4. Parlors
.parlor-detail {
  margin: 20px 0;
}

.parlor-attribute {
  padding: 3px 0;
}

#parlors-show-map {
  width: 100%;
  height: 350px;
}

// 7. Modal
// 7.1. Review Modal
.review-modal {
  label {
    width: 120px;
    text-align: right;
  }

  a {
    text-decoration: none;
  }
}
