<div class="row">
  <% Review.rating_attributes.each do |attr| %>
    <div class="col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <label><%= Review.human_attribute_name(attr) %>：</label>
      <% review.send(attr).times do %>
        <span class="glyphicon glyphicon-star review-star"></span>
      <% end %>
      <% review.blank_stars(attr).times do %>
        <span class="glyphicon glyphicon-star review-unstar"></span>
      <% end %>
    </div>
  <% end %>
</div>
