<%= link_to "いいね！取消", like_path(review.likes.find_by(user_id: current_user.id)),
            method: :delete, remote: true, class: 'form-btn btn-default' %>
<p><small id="like_count_<%= review.id %>">いいね！ <%= review.likes.size %>件</small></p>
