<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to "Mahjong Parlor", root_path, id: "footer-logo" %>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
          <!--  TODO  -->
          <!--  必要なリンクを作成する  -->
        </div>
      </div>
    </div>
  </div>
</footer>
