<div class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class=<%= "active" if controller_name == 'registrations' %>>
      <%= link_to "アカウント情報編集", edit_user_registration_path %>
    </li>
    <li role="presentation" class=<%= "active" if controller_name == 'users' %>>
      <%= link_to "アカウント削除", delete_user_path(current_user) %>
    </li>
  </ul>
</div>
